---
program: LIHEAP
source_type: official_handbook
title: verification
chapter: unknown
source_url: http://services.dpw.state.pa.us/oimpolicymanuals/liheap/Popups/verification.htm
accessed_date: 2026-04-19
jurisdiction: Pennsylvania
---

# verification

verification

Written, visual, or oral information from someone other than the applicant or recipient that is used to prove the accuracy of statements made by an applicant or recipient.
