---
program: SNAP
source_type: official_handbook
title: 510.3 Verification
chapter: 510.3
source_url: http://services.dpw.state.pa.us/oimpolicymanuals/snap/510_Households/510_3_Verification.htm
accessed_date: 2026-04-19
jurisdiction: Pennsylvania
---

# 510.3 Verification

## 510.31 Who Is in the Household

The CAO must not require proof of who is in the household and separate household status unless it is questionable. If it is questionable, the persons who claim to be a separate household from the others they live with must prove that they are a separate household.

## 510.32 Relationship

The CAO must accept the individual's statement unless it is questionable.

## 510.33 Age

## 510.34 Disability Benefits

The CAO must accept the following as proof:

- Award letters from the Social Security Administration ( SSA ) , Veteran's Affairs ( VA) , Railroad Retirement Benefits (RRB) , or another agency.

- Disability benefit checks.

- Letters or notices from agencies giving disability benefits, if the letters or notices clearly show that the person gets disability benefits.

- State Data Exchange (SDX) or BENDEX lists from Data Exchange (DX) .

7 CFR Â§ 273.2(f)(1)(x)

Updated March 12, 2026, replacing March 1, 2012
