---
program: Medicaid/CHIP
source_type: official_handbook
title: 314.7 Verification
chapter: 314.7
source_url: http://services.dpw.state.pa.us/oimpolicymanuals/ma/314_Students/314_7_Verification.htm
accessed_date: 2026-04-19
jurisdiction: Pennsylvania
---

# 314.7 Verification

The CAO must confirm that claimed educational assistance comes from loans, grants, scholarships and work-study income. The CAO also must make sure that all costs and deductible expenses related to school attendance are real and true. Â Â Â Â Â Â

Â Â Â 55 Pa. Code Â§ 181.3

NOTE: Â For MAGI MA, work- study income is countable. Although the CAO must verify the amount of income received from work -study, the CAO does not need to verify that the income source is work -study. Â

Exception: If the student has only excluded financial aid, then the CAO does not need to verify costs of education.

Here are some ways to verify the education costs:

- An award letter.

- A statement from the individual or organization who is providing the loan, grant, or scholarship.

- A statement from the schoolâs financial aid office.

- Receipts from the book store.

Proof of child care costs related to school attendance must include the childâs name. The proof must be signed and dated by the person who provides the child care.

Proof of transportation costs related to going to school must include a statement signed and dated by the transportation provider. The statement must include the date, the amount charged, and how far the student traveled. The student can state how much they spent on transportation costs if the student drives their own vehicle or uses public transportation and if the CAO worker knows that the information given by the student is correct.

NOTE: Â Child care and transportation costs are not allowable deductions for MAGI MA, and, therefore do not need to be verified .

The CAO must verify Student Loan Interest and Tuition and Fees tax deductions for MAGI MA.

If the individual fails to verify any allowable deductions, the CAO must determine eligibility without giving the deductions. Â The CAO must not deny benefits if the individual failed to provided verification of allowable deductions and there are no other items needed to be verified .

Updated September 25, 2024,Â Replacing April 29, 2024
