---
program: SNAP
source_type: official_handbook
title: 578.7 Pending Verification
chapter: 578.7
source_url: http://services.dpw.state.pa.us/oimpolicymanuals/snap/578_Verification_Requirements/578_7_Pending_Verification.htm
accessed_date: 2026-04-19
jurisdiction: Pennsylvania
---

# 578.7 Pending Verification

The CAO will not delay issuing benefits beyond 30 days for otherwise eligible households for the following verification :

- Citizenship or noncitizen status. Â Certain noncitizens are certified for up to six months pending verification of:

Â Â 7 CFR Â§ 273.2(f)(1)(ii)(B)(3)

- Immigration status through the Systematic Alien Verification for Entitlement program; or

- Veteran status through the Veteranâs Administration.

- Social Security numbers. Â Benefits will not be denied for a household member if the enumeration requirements are met. Only the household member failing to meet requirements is disqualified. See Supplemental Handbook, Chapter 950 .

Â 7 CFR Â§ 273.2(f)(1)(v)

Reissued March 1, 2012, replacing October 27, 2008
