---
program: SNAP
source_type: official_handbook
title: 523.3 Verification
chapter: 523.3
source_url: http://services.dpw.state.pa.us/oimpolicymanuals/snap/523_Residence/523_3_Verification.htm
accessed_date: 2026-04-19
jurisdiction: Pennsylvania
---

# 523.3 Verification

The household must provide proof of Pennsylvania residence. The CAO must accept any verification which reasonably establishes residency and must not require the household to provide any specific document. A household is not required to present a separate document verifying residency if proof is shown on any other required verification.

Acceptable forms of verification are (but not limited to):

- rent or mortgage statement showing address;

- utility bill showing address;

- personal identification showing address;

- any other document showing name and address

- collateral contact , if no other documentary proof is available.

R easonable efforts must be made to verify Pennsylvania residency.

Verification is not required for unusual cases where proof of residence may be difficult to prove, such as:

- Households newly arrived in the county

- Migrant or seasonal farm workers

- Homeless persons

7 CFR Â§ 273.2(f)(1)(vi)

Reissued March 1, 2012 , replacing June 18, 2008
