---
program: SNAP
source_type: official_handbook
title: 522.4 Verification
chapter: 522.4
source_url: http://services.dpw.state.pa.us/oimpolicymanuals/snap/522_Citizen_Noncitizen/522_4_Verification.htm
accessed_date: 2026-04-19
jurisdiction: Pennsylvania
---

# 522.4 Verification

The household has the primary responsibility for providing proof of immigration status for all household members applying for SNAP.

Non-citizens who are lawfully present in the U.S. generally have documents issued by USCIS that have the individual's immigration status and the date the individual entered the U.S. or adjusted to the status shown on the document.

The CAO must verify the eligible status of non-citizens. If a non-citizen does not want the CAO to contact USCIS, the household has the option of withdrawing its application or participating in the SNAP program without that member. Â Â Â

7 CFR Â§ 273.2(f)(1)(ii)

A ppendix A 1 lists acceptable USCIS documents and the provision of law that must appear on each document. Â Â Samples of USCIS documents are in Appendix B

The Qualified Non-citizen - SNAP Eligibility Chart in Appendix A 2 lists the categories of LPR's who may qualify for benefits. Â Â It also lists SNAP eligibility criteria. Â

Â 7 CFR Â§ 273.4(a)

N on-citizens other than those described in Appendix A 2 may not receive benefits. Â Â See 522.34, Ineligible Non-Citizens.

## 522.41 Verifying Immigration Status

P FS 18486-522, Systematic Alien Verification for Entitlements (SAVE) â Upload and Attach Secondary Verification, May 16, 2017 Â Â

Non-citizens who are lawfully present in the U.S. generally have documents issued by the DHS which have information about the individual's immigration status and the date the individual entered the country or adjusted to the status shown on the card.

Each non-citizen registered with the USCIS gets a registration number. Â Â USCIS needs this number, also called the Alien Number, A-number or file number. Â Â The CAO records the number in the case record. Â Â

The most common documents used to verify alien status include, but are not limited to, the following:

- Form 1-551---Permanent Resident Card or Alien Registration Receipt Card (commonly known as a green card)

- Form I-94 or I-94A--Arrival/Departure Record

- Unexpired foreign passport

The CAO must verify the immigration status of each non-citizen and put a copy (both front and back) of the document in the case record. Â Â USCIS documentation is preferable but it is okay to accept other proof such as a court order. Â Â The CAO must also verify the validity of documents presented through the Systematic Alien Verification for Entitlements (SAVE) Program. Â Â See the Supplemental Handbook, Chapter 740, SAVE Procedures. Â

Â 7 CFR Â§ 273.2(f)(1)(ii)(A)

Â A non-citizen is ineligible for SNAP benefits until he or she provides Â acceptable verification of immigration status unless:

- The CAO has forwarded a copy of a document to USCIS for verification through SAVE . Â Â The CAO may not deny, delay, reduce or close benefits pending verification of immigration status.

- The non-citizen provides documentation that SSA is investigating whether it can credit the person with more quarters of work coverage. Â Â The non-citizen may receive SNAP benefits for up to six months during the investigation or until the date it is determined that the individual did not have enough work quarters of coverage, whichever happens first.

- The non-citizen or the CAO requested verification of information on immigration status from a Federal agency other than the USCIS. Â Â The non-citizen may receive SNAP benefits for up to six months from the date of the first request for verification.

D o not reject an application when documentation is questionable and the only unverified eligibility factor is immigration status. Â Â Hold the application until SAVE documentation is received. Â

### 522.411 Victims of Trafficking

Victims of trafficking do not have to provide documentation of immigration status. Â The CAO must:

1. Â Accept the Letter of Certification for adults or an Interim Assistance Letter or Eligibility Letter for children under age 18 from ORR in place of USCIS documentation. Â Â Do not use the SAVE system to verify eligibility for SNAP. Â See Appendices J, K and L for sample letters:

- Letters of Certification and Eligibility Letters do not expire

- Interim Assistance Letters are valid for 90 days from the effective date in the letter. Â ORR may extend eligibility for an additional 30 days.

2. Â Place a photocopy of the Letter of Certification, Interim Assistance Letter or Eligibility Letter for children in the case record. Â Â Return the original to the applicant.

3. Â Note the entry date. Â Â The entry date is the certification date which appears in the body of the letter.

4. Â Call the Trafficking Victim Verification Line at 1-866-401-5510 before issuing benefits to:

- determine the validity of the letter

- inform ORR the individual has applied for SNAP benefits

- verify if a child who has an Interim Assistance Letter will receive an Eligibility Letter

5. Â Record the expiration date of the Certification or Eligibility Letter to determine when to review eligibility

### 522.412 Â Battered Non-Citizens

A battered non-citizen is a qualified alien if he or she meets one of the following requirements:

First Requirement: Â The individual has appropriate USCIS status defined as:

- A form I-30 petition for an immigrant visa filed by the applicant's U.S. citizen or LPR spouse or parent

- A form I-30 petition as a widow(er) of a U. S. citizen

- A self-petition under the Violence Against Women Act including those filed by a parent on behalf of an abused child

- An application for cancellation of removal or suspension of deportation filed as a victim of domestic violence

Second Requirement : Â The applicant, the applicant's child or the non-citizen child's parent was abused in the U.S. under one of the following circumstances:

- The non-citizen was battered or subjected to extreme cruelty by a spouse or parent of the non-citizen or by a member of the spouse's or parent's family residing in the same household if the spouse of parent consented to or did no object to the battery or cruelty

- The non-citizen's child was battered or subjected to extreme cruelty by a spouse or parent of the non-citizen or by a member of the spouse's or parent's family residing in the same household if the spouse of parent consented to the battery or cruelty and the non- citizen did not actively participate in the battery or cruelty

- The parent of a non-citizen child was battered or subjected to extreme cruelty by the parent's spouse or by a member of the spouse's family residing in the same household as the parent, if the spouse consents to or does not object to the battery or cruelty.

Third Requirement : Â There is a substantial connection between the battery or extreme cruelty and the need for public benefits. Â For example, the non-citizen needs benefits to:

- Become self-sufficient following separation from the abuser

- Escape the abuser and/or the abuser's community

- Ensure the safety of the non-citizen, the non-citizen's child and/or the non-citizen's parent

- Compensate for the loss of financial support from the abuser

- Compensate for the loss of a job or reduced earnings due to the abuse or the need to participate in legal proceedings stemming from the abuse

- Reduce nutritional risk or need resulting from the abuse

The non-citizen needs benefits because:

- He or she requires medical attention or mental health counseling

- He or she is disabled as a result of the abuse

Fourth Requirement: Â The battered non-citizen, child or parent does not reside in the same household as the abuser. Â Credible evidence to support this claim includes:

- A civil protection order requiring the abuser to stay away from the battered non-citizen, non-citizen child or the non-citizen child's parent

- An eviction notice removing the abuser from the home

- Employment records

- Utility receipts

- School records

- Hospital or medical bills

- Rental records from a building or property manager

- Affidavit from a staff member at a battered women's or homeless shelter

- Affidavits from witnesses including landlords and neighbors

NOTE: Â Do not contact the abuser for any verification or documentation of living arrangements, factors of eligibility or any other reason.

The CAO does not need to verify battering if the non-citizen battered spouse is a veteran or current member of the U.S. Armed Forces.

When verifying battering of a spouse or child, one type or source of verification is acceptable. Â Â If a battered victim shelter verifies the

Â battering either through collateral contact or in writing, no further verification is required.

The noncitizen member is not eligible until he or she proves eligible USCIS status. The noncitizen's resources and a prorated share of any of his or her income are considered available to any remaining household members. See Chapter 555, Deeming Income and Resources. Â

Â 7 CFR Â§ 273.2(f)(1)(ii)(B)

## 522.42 USCIS Contact

The CAO must inform the local USCIS whenever the CAO verifies that a SNAP household member is ineligible because he or she is in violation of the INA . Â

Â 7 CFR Â§ 273.4(b)(1)

- To encourage SNAP participation by households with noncitizens , FNS has interpreted verification narrowly.

- The CAO may verify a non-citizen is illegally present in the U.S. only when a decision is a finding of fact or conclusion of law supported the USCIS or the Executive Office for Immigration Review (EOIR). For example, a final order of deportation is conclusive verification supported by FNS and EOIR.

NOTE: A SAVE response showing no service record on an individual or an immigration status making the individual ineligible for a benefit is not a finding of fact or conclusion of law that the individual is not lawfully present.

The CAO may not contact the USCIS to verify immigration status: Â

Â 7 CFR Â§ 273.2(f)(1)(ii)

- When an applicant has not provided documentary evidence of unlawful presence.

- If the person is not a member of the SNAP household.

- If an identified non-citizen does not have a USCIS document or has a document that does not clearly show non-citizen status unless the non-citizen gives written consent. If the non-citizen does not give consent, the CAO must allow the household to withdraw its application or apply for SNAP benefits without that member.

## 522.43 Verifying Qualifying Quarters of Work

The CAO must take the following steps to verify quarters of work: Â

Â Â 7 CFR Â§ 273.2(f)(1)(ii)

1. Â Require the non-citizen to show a USCIS card that documents entry date into the U.S. and the condition under which admitted. Â Â Military I.D. for active duty or a DD214 for veterans may also be required.

2. Â Ask the applicant for the full name, SSN, date of birth, and sex of each individual (self, parent, spouse) whose work history is relevant.

3. Â Have each individual , other than the applicant, sign a Consent for Release of Information ( Form SSA- 3288 ) giving the Social Security Administration (SSA) permission to release information to the CAO through IEVS (See Appendix D ).

- When the CAO cannot get Form SSA-3288 from a person other than the applicant whose quarters of coverage are needed to meet the 40 qualifying quarters exception, the CAO must contact SSA.

- If the parent or spouse who earned the qualifying quarters has moved out of State, the CAO must send a form and request a signature. Â Â The CAO must get the signed form back before authorizing benefits.

- If the parent or spouse who earned the qualifying quarters is dead , the CAO must include as much information as can be recalled and mark "deceased" in the signature area of the form.

- In cases of domestic violence, the CAO may make a good cause determination on a case-by-case basis . Â Â A consent form is not needed for a battered spouse if there is proof of abuse. Â Â Examples of proof include:

- Protection from abuse orders.

- Restraining orders

- Medical records.

- Police reports.

- Statements from battered womenâs shelters.

4. Â Require additional verification, such as a W-2 form, income tax return, or pay statement, if SSA information indicates a lag in the number of quarters worked. Wage information provided yearly to the SSA by employers may not be in the SSA system yet. Â Â The application may be pended, meaning no decision yet, or denied for the application month depending on whether verification arrives within normal reporting time frames for SNAP households.

### 522.431 Establishing 40 Qualifying Quarters of Coverage

Qualifying quarters of coverage may be considered for:

Â Â 7 CFR Â§ 273.4(a)(6)(H)(ii)(A)

- A non-citizen.

- A non-citizen's natural parents, unless the child has been adopted. Â Â For parental relationships, consider only quarters earned through the calendar quarter during which the non-citizen turns age 18, including qualifying quarters earned by a parent before a childâs birth.

- A non-citizen's adoptive parents.

- A non-citizenâs stepparent provided the step relationship still exists. Â Â If the marital relationship ends other than through death, the step relationship ends.

- A non-citizen's current spouse, including common-law marriages contracted before January 1, 2005. Â Â For spousal relationships, consider only quarters earned during the marriage .

- A non-citizen's former spouse(s) if the marriage ended when the spouse died.

Do not consider any quarter after December 31, 1996 during which a non-citizen, parent or spouse received a Federal means-tested benefit (such as SSI) as a qualifying quarter of coverage.

If applicable, credit a non-citizen with qualifying quarters from a combination of spouse and/or parents . Â

Release information provided by SSA to the non-citizen if requested .

### 522.432 Missing Quarter or Unreported Wages

If the SSA reports that a non-citizen has less than 40 qualifying quarters of coverage but the non-citizen believes he or she should be credited with additional unreported earnings, the CAO must refer the non-citizen to the SSA for an investigation to establish those earnings. Â Â

SSA issues Form SSA-5058 PC (See Appendix F ) with the non-citizen's name, address and date issued to document the investigation. Â Â The CAO must file this form in the case record. Â Â The non-citizen may get benefits for up to six months during the investigation.

S SA does not provide qualifying quarters information on income earned in a foreign country. Â Â The U.S. has international agreements under which workers may qualify for partial U.S. social security benefits based on combined work credits. Â Â See Appendix E for a list of countries and effective dates of their agreements.

### 522.433 Discrepancies or Non-Lag Quarters

When the non-citizen or person whose qualifying quarters of coverage are being credited to the non-citizen disagrees with the SSA inquiry results, the disagreement must be resolved .

If the person believes the work performed was in covered or reported employment and the earnings do not fall in a lag quarter , SSA is responsible for investigating the discrepancy and correcting the record. Â Â

NOTE: A lag quarter is a quarter in the current year or the year before. Â These quarters may not show up in credit history because SSA has not processed them yet. Â Non-lag quarters are quarters before the current year or the year before the current year.

If Code # or Z appears in a quarter and the applicant does not meet the 40 qualifying quarters of coverage without the quarter , contact SSA as follows :

1. Â If the discrepancy is due to multiple SSNs or others using the personâs SSN, refer the person to the local SSA office or have them call 1-800-772-1213 for an appointment. Give the non-citizen a copy of the SSA report of qualifying quarters of coverage . Â Â Tell him or her to take the report and proof of earnings to the SSA appointment .

Give the non-citizen a copy of the SSA report of qualifying quarters of coverage . Â Â Tell them to take the report and proof of earnings to the SSA appointment .

2. Â If the discrepancy in the SSA report is Code Z for 1978 or later, tell the applicant whose SSN is involved to ask for a correction of earnings using Form SSA-7008 (Request for Correction of Earnings Record). A separate form is needed if there are multiple SSNs that need investigated.

Attach proof of earnings such as:

- W-2s.

- pay stubs.

- tax returns.

- statement from the employer.

Write âwelfare reformâ on the top of Form SSA-7008 . Â Â If the applicant is not the number holder, tell the applicant that the number holder must complete Form SSA-7008 and attach proof of earnings.

Â Mail the request along with the necessary documentation to:

SSA, OCRO P.O. Box 33016 Baltimore, Maryland Â Â 21290-3016

If documentation is not available, the applicant should contact a local SSA office or call 1-800-772-1213 to make an appointment.

3. Â If the discrepancy is Code Z for 1977 or earlier or a # sign anywhere in the SSA report, have the non-citizen SSN holder contact SSA at 1-800-772-1213. Â

If the non-citizen is not the number holder, and documentation is not available, refer the individual to the local SSA office or have them call 1-800-772-1213.

Make a second SSA qualifying quarters of coverage inquiry 45 days after the original request if follow-up is necessary . Â Â If Code Z is overlaid with an N or C, the entry was updated. Â Â If the pattern is not updated after 60 days, call the SSA-OCRO Earnings Discrepancy Division at 1-800-775-7802

Reissued October 7, 2014, replacing March 1, 2012
